# Build
target/
dist/
build/

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json

# OS files
.DS_Store

# Logs 
logs/
*.log

# WIKI
wiki/ 
# its a separate repo but just in case

# Testing
tests/
test/
coverage/