# Build
target/
dist/
build/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store

# Logs 
logs/
*.log

# Release Files
releases/

# WIKI
wiki/ 
# its a separate repo but just in case

# Testing
tests/
coverage/